<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinéma - Maison de la culture</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>

    <!-- MAIN CONTENT -->
    <main id="Accueil">



        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone"> Maison de la culture
            </div>
        </div>

        <!-- PRELOADER -->


        <!-- HEADER -->
        <div id="header1">

            <h1 class="text">LA CINEMATOGRAPHIE</h1>

            <div class="para">
                <p class="text">L'activité culturelle de la cinématographie ou plutôt appelé "Le cinéma", est un art du spetacle, c'est-à-dire un spetacle proposé au public sous forme d'un film. Elle est désignée comme le "septième art", c'est d'ailleurs une des activtiés
                    préférés des français. Dans cette activtié, nous y proposerons différents films à visualiser, et nous verrons également l'histoire de la cinématographie, comment cela a commencer.</p>
            </div>


            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover">
                    <a href="#" class="text">
                        <p style="color:rgb(0, 0, 0);">Maison de la culture</p>
                    </a>
                </div>

                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        <strong>Menu</strong>
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>

            </div>

            <div class="button">


                <form>
                    <input type="button" onclick="window.location.href = 'contact-one.html';" value="Contactez-nous" />
                </form>

            </div>





            <!-- NAVIGATION -->






            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/headphone.png" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->





        </div>
        <!-- HEADER -->


        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">Maison de la culture</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="Accueil.html" data-text="Accueil" data-img="images/bg-image-three.jpg">Accueil</a></li>
                <li><a href="Presentation.html" data-text="Présentation" data-img="images/about-img.jpg">Présentation</a></li>
                <li><a href="Galerie.html" data-text="Galerie" data-img="images/album-thumbnail-nine.jpg">Galerie</a></li>
                <li><a href="Calendrier.html" data-text="Calendrier" data-img="images/main-bg-three.jpg">Calendrier</a></li>
                <li><a href="Tarifs.html" data-text="Tarifs" data-img="images/tarifs.png">Tarifs</a></li>
                <li><a href="contact-one.html" data-text="Formulaire" data-img="images/2.png">Formulaire</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>


            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->


        </div>

        <!-- NAVIGATION CONTENT -->



    </main>
    <!-- MAIN CONTENT -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>

</body>

</html>