<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinéma - Maison de la culture</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>


    <!-- MAIN CONTENT -->
    <main id="Calendrier">

        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Calendrier</div>
        </div>
        <!-- PRELOADER -->



        <div id="Calendrier-content">

            <!-- HEADING -->

            <div class="heading">
                <span class="text"> 
                CALENDRIER
               </span>
            </div>

            <!-- HEADING -->


            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="index-two.html" class="text">La cinématographie</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


            <div class="center">

                <!-- BLOG-CONTAINER -->

                <div id="blogs-container">




                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/C1.jpg" alt="blog-img">
                        </div>
                        <div class="blog-text1">
                            <div class="blog-heading">Spider-Man: No Way Home </div>
                            <div class="blog-description">Pour la première fois dans son histoire cinématographique, Spider-Man, le héros sympa du quartier est démasqué et ne peut désormais plus séparer sa vie normale de ses lourdes responsabilités de super-héros. Quand il demande
                                de l'aide à Doctor Strange, les enjeux deviennent encore plus dangereux, le forçant à découvrir ce qu'être Spider-Man signifie véritablement.
                            </div>
                            <div class="blog-info">
                                <div class="blog-duration"><img src="images/clock.png" alt="clock">&nbsp; 2h29 </div>
                                <div class="blog-type">Action, aventure, fantastique</div>
                                <a href="https://www.youtube.com/watch?v=7w_w10HVa54" target="_blank title=">
                                    <div class="blog-read-more ">
                                        <i class="gg-arrow-right "></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog-date "> Mardi 18 janvier 2022 : 14h00, 17h00, 20h30</div>
                    </div>
                    <!-- BLOG -->


                    <!-- BLOG -->
                    <div class="blog fade-up ">
                        <div class="blog-img ">
                            <img src="images/C2.jpg " alt="blog-img ">
                        </div>
                        <div class="blog-text1 ">
                            <div class="blog-heading ">Matrix Resurrections </div>
                            <div class="blog-description ">MATRIX RESURRECTIONS nous replonge dans deux réalités parallèles – celle de notre quotidien et celle du monde qui s'y dissimule. Pour savoir avec certitude si sa réalité propre est une construction physique ou mentale, et pour
                                véritablement se connaître lui-même, M. Anderson devra de nouveau suivre le lapin blanc. Et si Thomas... Neo... a bien appris quelque chose, c'est qu'une telle décision, quoique illusoire, est la seule manière de s'extraire
                                de la Matrice – ou d'y entrer... Bien entendu, Neo sait déjà ce qui lui reste à faire. Ce qu'il ignore en revanche, c'est que la Matrice est plus puissante, plus sécurisée et plus redoutable que jamais. Comme un air de
                                déjà vu...</div>
                            <div class="blog-info ">
                                <div class="blog-duration "><img src="images/clock.png " alt="clock ">&nbsp; 2h28 </div>
                                <div class="blog-type ">Action, Science-fiction</div>

                                <a href="https://www.youtube.com/watch?v=Kva8VPH18gQ " target="_blank title=">
                                    <div class="blog-read-more ">
                                        <i class="gg-arrow-right "></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog-date ">Mardi 18 janvier 2022 : 15h00, 18h00, 21h00</div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up ">
                        <div class="blog-img ">
                            <img src="images/C3.jpg " alt="blog-img ">
                        </div>
                        <div class="blog-text1 ">
                            <div class="blog-heading ">Adieu monsieur haffmann</div>
                            <div class="blog-description ">Paris 1941. François Mercier est un homme ordinaire qui n'aspire qu'à fonder une famille avec la femme qu'il aime, Blanche. Il est aussi l'employé d'un joaillier talentueux, M. Haffmann. Mais face à l'occupation allemande,
                                les deux hommes n'auront d'autre choix que de conclure un accord dont les conséquences, au fil des mois, bouleverseront le destin de nos trois personnages.</div>
                            <div class="blog-info ">
                                <div class="blog-duration "><img src="images/clock.png " alt="clock ">&nbsp; 1h56 </div>
                                <div class="blog-type ">Drame, Historique</div>

                                <a href="https://www.youtube.com/watch?v=sDRankmsjG8 " target="_blank title=">
                                    <div class="blog-read-more ">
                                        <i class="gg-arrow-right "></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog-date ">Mercredi 19 janvier 2022 : 16h30, 19h, 21h45</div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up ">
                        <div class="blog-img ">
                            <img src="images/C4.jpg " alt="blog-img ">
                        </div>
                        <div class="blog-text1 ">
                            <div class="blog-heading ">SCREAM</div>
                            <div class="blog-description ">Vingt-cinq ans après que la paisible ville de Woodsboro a été frappée par une série de meurtres violents, un nouveau tueur revêt le masque de Ghostface et prend pour cible un groupe d'adolescents. Il est déterminé à faire ressurgir
                                les sombres secrets du passé.</div>
                            <div class="blog-info ">
                                <div class="blog-duration "><img src="images/clock.png " alt="clock ">&nbsp; 1h55 </div>
                                <div class="blog-type ">Epouvant-horreur, thriller</div>

                                <a href="https://www.youtube.com/watch?v=z_FVI4_L1gg " target="_blank title=">
                                    <div class="blog-read-more ">
                                        <i class="gg-arrow-right "></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-date ">Jeudi 19 janvier 2022 : 16h30, 19h, 22h</div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up ">
                        <div class="blog-img ">
                            <img src="images/C5.jpg " alt="blog-img ">
                        </div>
                        <div class="blog-text1 ">
                            <div class="blog-heading ">355</div>
                            <div class="blog-description "> Une arme technologique capable de prendre le contrôle de réseaux informatiques tombe entre de mauvaises mains. Les agences de renseignements du monde entier envoient leurs agentes les plus redoutables là où l'arme destructrice
                                a été localisée : à Paris. Leur mission : empêcher des organisations terroristes ou gouvernementales de s'en emparer pour déclencher un conflit mondial. Les espionnes vont devoir choisir entre se combattre ou s'allier…</div>
                            <div class="blog-info ">
                                <div class="blog-duration "><img src="images/clock.png " alt="clock ">&nbsp; 2h04 </div>
                                <div class="blog-type ">Action, espionnage, thriller</div>

                                <a href="https://www.youtube.com/watch?v=6Kg8tjz2R-k " target="_blank title=">
                                    <div class="blog-read-more ">
                                        <i class="gg-arrow-right "></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-date ">Samedi 21 janvier 2022 : 10h, 14h, 22h15</div>
                    </div>
                    <!-- BLOG -->

                </div>




                <!-- BLOG-CONTAINER-->

            </div>

            <!-- HEADPHONE IMG -->
            <div class="headphone img text ">
                <img src="images/headphone.png " title="headphone zone " class="text " alt="headphone ">
            </div>
            <!-- HEADPHONE IMG -->

            <!-- progress-bar -->
            <div class="progress-bar-container fade-in ">
                <div class="progressbar "></div>
            </div>
            <!-- progress-bar -->
        </div>



        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content ">
            <div class="navigation-logo hover opacity ">
                <a href="# " class="text ">Maison de la culture</a>
            </div>
            <ul class="navigation-ul ">
                <li><a href="Accueil.html " data-text="Acceuil " data-img="images/bg-image-three.jpg ">Accueil</a></li>
                <li><a href="Presentation.html " data-text="Présentation " data-img="images/about-img.jpg ">Présentation</a></li>
                <li><a href="Galerie.html " data-text="Galerie " data-img="images/album-thumbnail-nine.jpg ">Galerie</a></li>
                <li><a href="Calendrier.html " data-text="Calendrier " data-img="images/main-bg-three.jpg ">Calendrier</a></li>
                <li><a href="Tarifs.html " data-text="Tarifs " data-img="images/tarifs.png ">Tarifs</a></li>
                <li><a href="contact-one.html " data-text="Formulaire " data-img="images/2.png ">Formulaire</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity ">
                <div class="navigation-close-line "></div>
                <div class="navigation-close-line "></div>
            </div>

            <div class="project-preview "></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity ">
                <img src="images/headphone.png " title="headphone zone " class="text " alt="headphone ">
            </div>
            <!-- HEADPHONE IMG -->



        </div>

        <!-- NAVIGATION CONTENT -->





    </main>
    <!-- MAIN CONTENT -->

    <script src="js/jquery.min.js "></script>
    <script src="js/bez.js "></script>
    <script src="js/pace.js "></script>
    <script src="js/index.js "></script>
</body>

</html>