<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Cinéma - Maison de la culture </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>
    <main id="contact-one">

        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Formulaire de contact</div>
        </div>
        <!-- PRELOADER -->


        <div id="contact-one-content">

            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="Accueil.html" class="text">La cinématographie</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->





            <!-- HEADING -->
            <div class="heading">
                <div class="text">
                    FORMULAIRE
                </div>
            </div>

            <!-- HEADING -->


            <div id="flex-row">

                <!-- CONTACT FORM -->

                <div id="contact-form">


                    <div id="form" class="opacity-contact">

                        <form id="myForm" action="#">
                            <div class="input-line">
                                <input id="prenom" type="text" placeholder="Prénom" class="input-same-line" required>
                                <input id="nom" type="text" placeholder="NOM" class="input-same-line" required>
                            </div>
                            <div class="input-line">
                                <input id="date" type="date" placeholder="JJ/MM/AAAA" class="input-same-line" required>
                                <input id="tel" type="tel" placeholder="Numéro de téléphone" class="input-same-line" required>
                            </div>
                            <div class="input-line">
                                <input id="email" type="email" placeholder="Email" class="input-same-line" required>
                            </div>
                            <div class="input-line">
                                <input id="adresse" type="adresse" placeholder="Adresse" class="input-same-line" required>
                            </div>
                            <br>
                            <h4>Si vous êtes mineur, veuillez entrez une autorisation parentale :</h4>
                            <div class="input-line">
                                <input id="file" type="file" type="file" placeholder="Fichier" class="input-same-line" required>
                            </div>

                            <button type="button" id="submit" class="hover">ENVOYEZ</button>
                            <div id="message">INVALID EMAIL</div>
                        </form>

                    </div>
                </div>

                <!-- CONTACT FORM -->



                <!-- ENQUIRY MAIL -->

                <div class="opacity-contact">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d551140.4027454193!2d4.904129739178016!3d43.68117817574769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9f5811a743f25%3A0xf7fbed95dfa46e0a!2sMaison%20des%20Jeunes%20et%20de%20la%20Culture!5e0!3m2!1sfr!2sfr!4v1642379158896!5m2!1sfr!2sfr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
                <!-- ENQUIRY MAIL -->

            </div>







            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->



            <!-- progress-bar -->
            <div class="progress-bar-container fade-in">
                <div class="progressbar"></div>
            </div>
            <!-- progress-bar -->



        </div>



        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">Maison de la culture</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="Accueil.html" data-text="Accueil" data-img="images/bg-image-three.jpg">Accueil</a></li>
                <li><a href="Presentation.html" data-text="Présentation" data-img="images/about-img.jpg">Présentation</a></li>
                <li><a href="Galerie.html" data-text="Galerie" data-img="images/album-thumbnail-nine.jpg">Galerie</a></li>
                <li><a href="Calendrier.html" data-text="Calendrier" data-img="images/main-bg-three.jpg">Calendrier</a></li>
                <li><a href="Tarifs.html" data-text="Tarifs" data-img="images/tarifs.png">Tarifs</a></li>
                <li><a href="contact-one.html" data-text="Formulaire" data-img="images/2.png">Formulaire</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>

            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->



        </div>

        <!-- NAVIGATION CONTENT -->




    </main>

    <script src="js/jquery.min.js"></script>
    <script src="js/circletype.min.js"></script>
    <script src="js/jquery.lettering.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>

</body>

</html>