<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinéma - Maison de la culture</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>
    <main id="Galerie">



        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Galerie photos</div>
        </div>

        <!-- CONTENT -->
        <div id="Galerie-content">



            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="Accueil.html" class="text">La cinématographie</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->






            <!-- HEADING -->
            <div class="heading">
                <div class="text">
                    GALERIE
                </div>
            </div>

            <!-- HEADING -->




            <!-- SONGS CONTAINER -->


            <div class="center">
                <div id="songs-container">


                    <!-- SONG -->
                    <div class="song fade-up">
                        <div class="song-img">
                            <img src="images/album-thumbnail-two.jpg" alt="song">
                        </div>
                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">Thomas Edison et les premiers pas du cinéma</div>
                                <div class="artist-name">En 1891, il crée le kinétographe, premier caméra de prise de vue.</div>
                            </div>
                            <div class="music-player">


                            </div>
                        </div>
                    </div>
                    <!-- SONG -->


                    <!-- SONG -->
                    <div class="song fade-up">


                        <div class="song-img">
                            <img src="images/album-thumbnail-five.jpg" alt="song">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">Pauvre Pierrot, le premier dessin animé</div>
                                <div class="artist-name">Pauvre Pierrot, premier dessin animé de l'histoire et première projection animée sur un écran devant un public payant rassemblé (1892). </div>
                            </div>
                            <div class="music-player">
                            </div>
                        </div>

                    </div>
                    <!-- SONG -->


                    <!-- SONG -->
                    <div class="song fade-up">

                        <div class="song-img">
                            <img src="images/1film.jpg" alt="song">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">La Sortie de l'usine Lumière à Lyon</div>
                                <div class="artist-name">Le premier film de l'existence du cinéma.<br> Par Louis et Auguste Lumière.</div>
                            </div>

                        </div>
                    </div>
                    <!-- SONG -->






                    <!-- SONG -->
                    <div class="song fade-up">


                        <div class="song-img">
                            <img src="images/album-thumbnail-four.jpg" alt="song" data-song="blindinglights" class="play">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">Le premier nickelodéon</div>
                                <div class="artist-name">Le premier nickelodéon apparaît en novembre 1905 , lorsque l'entrepreneur John Harris se rend à Pittsburgh pour y négocier un local commercial.
                                </div>
                            </div>
                            <div class="music-player">
                            </div>
                        </div>

                    </div>
                    <!-- SONG -->




                    <!-- SONG -->
                    <div class="song fade-up">


                        <div class="song-img">
                            <img src="images/album-thumbnail-three.jpg" alt="song">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">Le premier film sonore</div>
                                <div class="artist-name">Le 6 octobre 1927 sort aux États-Unis le film Jazz singer (Le chanteur de jazz). Il s'agit du premier film parlant, chantant et musical. </div>
                            </div>
                            <div class="music-player">

                                <div class="play-song mouse">

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- SONG -->




                    <!-- SONG -->
                    <div class="song fade-up">


                        <div class="song-img">
                            <img src="images/album-thumbnail-six.jpg" alt="song">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">Le premier film en couleur</div>
                                <div class="artist-name">Des arbres et des fleurs (Flowers and Trees) est le premier dessin animé en couleurs de la série Silly Symphonies.</div>
                            </div>
                            <div class="music-player">

                                <div class="play-song mouse">

                                </div>




                            </div>
                        </div>

                    </div>
                    <!-- SONG -->




                    <!-- SONG -->
                    <div class="song fade-up">


                        <div class="song-img">
                            <img src="images/album-thumbnail-seven.jpg.opdownload" alt="song">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">La TV devient un objet populaire</div>
                                <div class="artist-name">C'est dans les années 1950 que la télévision marquent le vrai départ. </div>
                            </div>
                            <div class="music-player">

                                <div class="play-song mouse">

                                </div>



                            </div>
                        </div>

                    </div>
                    <!-- SONG -->




                    <!-- SONG -->
                    <div class="song fade-up">


                        <div class="song-img">
                            <img src="images/album-thumbnail-eight.jpg" alt="song">
                        </div>

                        <div class="song-details">
                            <div class="song-details-content">
                                <div class="song-name">Le cinéma en relief</div>
                                <div class="artist-name">Tous les genres sont représentés comédie, drame, et science-fiction. La première mondiale d'un film totalement en relief a lieu le 26 novembre 1952 au Paramount d'Oakland (Californie).</div>
                            </div>
                            <div class="music-player">

                                <div class="play-song mouse">

                                </div>



                            </div>
                        </div>

                    </div>
                    <!-- SONG -->










                </div>
            </div>

            <!-- SONGS CONTAINER -->



            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->



            <!-- MUSIC INDICATOR -->

            <!-- MUSIC INDICATOR -->




            <!-- progress-bar -->
            <div class="progress-bar-container fade-in">
                <div class="progressbar"></div>
            </div>
            <!-- progress-bar -->






        </div>
        <!-- CONTENT -->



        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">Maison de la culture</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="Accueil.html" data-text="Acceuil" data-img="images/bg-image-three.jpg">Accueil</a></li>
                <li><a href="Presentation.html" data-text="Présentation" data-img="images/about-img.jpg">Présentation</a></li>
                <li><a href="Galerie.html" data-text="Galerie" data-img="images/album-thumbnail-nine.jpg">Galerie</a></li>
                <li><a href="Calendrier.html" data-text="Calendrier" data-img="images/main-bg-three.jpg">Calendrier</a></li>
                <li><a href="Tarifs.html" data-text="Tarifs" data-img="images/tarifs.png">Tarifs</a></li>
                <li><a href="contact-one.html" data-text="Formulaire" data-img="images/2.png">Formulaire</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>

            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->




        </div>

        <!-- NAVIGATION CONTENT -->







    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>

</html>