<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinéma - Maison de la culture</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>
    <!-- MAIN CONTENT -->

    <main id="Présentation">


        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">La cinématographie</div>
        </div>

        <div id="Présentation-content">

            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="Accueil.html" class="text">La cinématographie</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


            <!-- progress-bar -->
            <div class="progress-bar-container fade-in">
                <div class="progressbar"></div>
            </div>
            <!-- progress-bar -->



            <div class="scrolling-part">

            </div>


            <div class="heading">
                <span class="text">
      Présentation
    </span>
            </div>



            <div class="blog-content">
                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p1.jpg" alt="Leonardo DiCaprio">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Leonardo DiCaprio</h3>
                            <p>Leonardo DiCaprio, né le 11 novembre 1974 à Los Angeles, est un acteur, scénariste et producteur de cinéma américain. <br>Il est plutôt connu sous les film de «Le loup de wall street » mais encore « Titanic ».
                        </div>
                    </a>
                </div>

                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p2.jpg" alt="blog-two">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Brad Pitt</h3>
                            <p>William Bradley Pitt, dit Brad Pitt, est un acteur et producteur de cinéma américain, né le 18 décembre 1963 à Shawnee. Repéré dans une publicité pour Levi's, Brad Pitt sort de l'anonymat grâce à un petit rôle dans le film
                                Thelma et Louise de Ridley Scott.</p>
                        </div>
                    </a>
                </div>
                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p6.jpg" alt="blog-six">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Emma Watson</h3>
                            <p>Emma Watson, née le 15 avril 1990 à Paris, est une actrice britannique.<br> Elle est devenue célèbre en jouant, de son enfance en 2001 à l'âge adulte en 2011, le rôle d'Hermione Granger, l'un des trois rôles principaux dans
                                la série des films Harry Potter.<br> C'est une des actrices les plus connus, une actrice engagée, elle est remarquée lors d'un discours féministe aux Nations unies. Elle est d'ailleurs nommée ambassadrice de bonne volonté
                                par l'ONU Femmes en juillet 2014.</p>
                        </div>
                    </a>
                </div>
                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p4.jpeg" alt="blog-four">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Louis de Funès</h3>
                            <p> Louis de Funès, de son nom complet Louis de Funès de Galarza, est un acteur français né le 31 juillet 1914 à Courbevoie.<br> C'est l'acteur français par excellence, avec plus de 140films à son actif, 270 millions de spectateurs
                                venus au cinéma, 400 millions de téléspectateurs en France, de Funès est lui aussi une figure mythique du cinéma français.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p5.jpg" alt="blog-five">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Clint Eastwood</h3>
                            <p>Clint Eastwood, né le 31 mai 1930 à San Francisco, est un acteur réalisateur, compositeur et producteur de cinéma américain, c'est une légende vivante du cinéma. <br>On peut dire que depuis la fin des années 60 jusqu'au milieu
                                des années 80, Clint Eastwood aura été très actif en tant qu'acteur. Il est indétronable, il reste l'acteur le plus connu au monde grâce à toutes ses ambitions.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p7.jpg" alt="blog-six">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Julia Roberts</h3>
                            <p>Julia Roberts est une actrice et productrice américaine, née le 28 octobre 1967 à Smyrna, en Géorgie<br> Elle est révélée par la populaire comédie romantique Pretty Woman et devient une star planétaire. Elle obtient la consécration
                                internationale en 2001 en recevant l’Oscar de la meilleure actrice pour son rôle dans le film Erin Brockovich, seule contre tous. Elle est à cette période une des actrices les mieux payées de Hollywood.
                            </p>
                        </div>
                    </a>
                </div>

                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p3.jpg" alt="blog-three">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Tom Hanks</h3>
                            <p>Thomas Jeffrey Hanks, ou plutôt Tom Hanks, est un acteur, réalisateur et producteur de cinéma américain, né le 9 juillet 1956 en Californie. <br> Il est devenu célèbre avec le film Splash, avant de connaître la consécration
                                avec Philadelphia et Forrest Gump, qui lui valurent chacun l'Oscar du meilleur acteur.</p>
                        </div>
                    </a>
                </div>

                <div class="blogs">
                    <a href="#">
                        <div class="img">
                            <img src="images/p8.jpeg" alt="blog-six">

                        </div>
                        <div class="blog-text">
                            <h3 class="text">Jennifer Aniston</h3>
                            <p>Jennifer Aniston est une actrice, réalisatrice et productrice de cinéma américaine née le 11 février 1969 à Los Angeles.<br> Elle accède à la notoriété internationale en interprétant, de 1994 à 2004, le personnage de Rachel
                                Green dans la sitcom à succès mondial Friends. Grâce à ce rôle, elle obtient un Emmy Award, un Golden Globe Award et un Screen Actors Guild Award.</p>
                        </div>
                    </a>
                </div>
            </div>



            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->


        </div>




        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">Maison de la culture</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="Accueil.html" data-text="Acceuil" data-img="images/bg-image-three.jpg">Accueil</a></li>
                <li><a href="Présentation.html" data-text="Présentation" data-img="images/about-img.jpg">Présentation</a></li>
                <li><a href="Galerie.html" data-text="Galerie" data-img="images/album-thumbnail-nine.jpg">Galerie</a></li>
                <li><a href="Calendrier.html" data-text="Calendrier" data-img="images/main-bg-three.jpg">Calendrier</a></li>
                <li><a href="Tarifs.html" data-text="Tarifs" data-img="images/tarifs.png">Tarifs</a></li>
                <li><a href="contact-one.html" data-text="Formulaire" data-img="images/2.png">Formulaire</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>

            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->




        </div>

        <!-- NAVIGATION CONTENT -->




    </main>
    <!-- MAIN CONTENT -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>

</html>